@tailwind base;
@tailwind components;
@tailwind utilities;

/* //NOTE: 
vscode error Unknown at rule @tailwindcss(unknownAtRules)
Solution: Install PostCSS Language Support extension
}
*/

@layer base {
  input {
    @apply border rounded px-1;
  }
  button {
    @apply border rounded py-2 px-4 font-semibold;
  }

  h1 {
    @apply font-semibold text-xl;
  }
  h2 {
    @apply font-semibold text-lg;
  }
}
