@tailwind base;
@tailwind components;
@tailwind utilities;

/* //NOTE: 
vscode error Unknown at rule @tailwindcss(unknownAtRules)
Solution: Install PostCSS Language Support extension
OR
https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker
-Thésée
}
*/
