@tailwind base;
@tailwind components;
@tailwind utilities;

/* //NOTE: 
vscode error Unknown at rule @tailwindcss(unknownAtRules)
Solution: Install PostCSS Language Support extension
}
*/

@layer base {
  #__next {
    @apply min-h-screen flex flex-col;
  }
  html,
  body {
    @apply min-h-screen bg-gradient-to-t from-light-primary-start to-light-primary-end;
  }
  input {
    @apply border-0 rounded px-2 bg-gray-100;
  }
  button {
    @apply border rounded py-2 px-4 font-semibold;
  }
  label {
    @apply text-gray-700 font-lato font-light text-base mb-1;
  }
  h1 {
    @apply font-semibold text-xl;
  }
  h2 {
    @apply font-semibold text-lg;
  }
}
